.hero-heading-container {
  display: flex;
  position: relative;
}
.hero-heading-hero-heading {
  color: var(--dl-color-gray-white);
  z-index: 100;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
@media(max-width: 991px) {
  .hero-heading-hero-heading {
    text-align: center;
  }
}
